<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Operational Risk Assesor</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="chat-container">
    <div class="chat-header">
      <div class="chat-logo">
        
        <img src="{{ url_for('static', filename='assets/anz-logo.png') }}" alt="Chatbot Logo">
      </div>
      <div class="chat-info">
       <p><h2> The Operational Risk Assesor chatbot is trained with the risk and associated mitigations in bank.</h2></p>
      </div>
    </div>
    <div class="chat-messages" id="chat-messages">
      <i>Please start conversation, by prompting your questions below,<br><br></i>
    </div>
    <div class="chat-input">
        <form id="chat-form">
            <input type="text" id="user-input" placeholder="Type your prompt here">
            <button type="submit" id="send-btn">Send</button>
        </form>
    </div>
  </div>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>